// Colors
$darkGrey: #3A3A3A;
$white: #A9B7C6;
$black: #2f2f2f;
$blue: #287BDE;

$backgroundDarker: #262626;
$backgroundDark: #2B2B2B;

//Fonts
$fontHeader: hack, monospace;
$fontParagraph: hack, monospace;
$fontCode: hack, monospace;

// Content
$breakLarge: 1256px;
$width: 1024px;